@page
@model Amedia.Areas.Users.Pages.ManagementModel
@{
    ViewData["Title"] = "Users Management";
}

<h4>Users Management</h4>
<hr />

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Assigned Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @if(item.Id != 1)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                        <span>|</span>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>